* {
    box-sizing:border-box;
}
body {
    padding-top: 90px;
    padding: 0;
    margin: 0;
}
    body::after {
        content: "CSS loaded";
        display: none;
    }
.header {
    margin: 0;
    transition: box-shadow 0.3s ease;
    /* background-image: linear-gradient(to bottom right, #d9b28d,#ca9b74);*/
    background-color: #d9b28d;
    overflow: visible;
    border-radius: 0.8%;
    box-shadow: 0px 5px 8px #736a9d;
    position: fixed; /* Makes the header stick */
    top: 0; /* Positions it at the top */
    left: 0; /* Ensures it spans from left edge */
    width: 100%; /* Full width */
    z-index: 1000; /* Keeps it above other content */
    margin: 0;
    /*box-shadow: -10px 5px 10px #736a9d, 10px 5px 10px #fff;*/
}
    .header.scrolled {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }
.navigation {
    height: 80px;
    display: flex;
    padding: 5px;
    margin: 0;
    align-items: center;
    margin-right: 10px;
    justify-content: space-between;
}

.normalLinks {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoLinks {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: inline;
}

.logo {
    height: 100px;
}

.links {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 50px;
}

.contactUS:link, .contactUS:visited, .contactUS:active, .contactUS:hover {
    color: white;
}

.linkContainer:active, .linkContainer:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 8px #736a9d;
    transition: 0.3s ease;
}

.ourStories:link, .ourStories:visited, .ourStories:active, .ourStories:hover {
    color: white;
}

.linkForm:link, .linkForm:visited, .linkForm:active, .linkForm:hover {
    color: white;
}

.links, .logoLinks, .addmission {
    list-style-type: none;
    font-size: 18.5px;
}

.logo, .contactUS, .ourStories, .linkForm {
    text-decoration: none;
}


/*footer*/
.footer {
    min-height: 600px;
    background-image: url('Images/wave-haikei6.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 25px;
}

.contactFooter {
    list-style-type: none;
    color: #fff;
}

.contactList {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.footerTitle1 {
    align-items: center;
    font-size: 20px;
}

.email {
    margin-left: 30px;
}

.socialMedia, .location {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 25px;
    color: white;
}

.facebook {
    font-size: 35px;
    color: white;
}

.instgram {
    font-size: 35px;
    color: white;
}

.loc {
    padding-top: 100px;
}

.copyReight {
    color: white;
}