body::after {
    content: "CSS loaded";
    display: none;
}
.mainStory {
    margin: 200px 20px 20px 20px;
    box-shadow: 0px 0px 10px #d9b28d;
    padding: 30px;
}

.section1, .section2, .section3, .section4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.section1Text, .section4Text {
    color: #ca9b74;
    font-size: 20px;
    font-family: "WDXL Lubrifont TC", sans-serif;
}

.section1Video {
    width: 40%;
    border-radius: 2%;
}

.section2, .section3, .section4 {
    margin-top: 50px;
}

.section4Text {
    width: 500px;
}